    body{
        opacity:0.9;
        width:100%;
        text-align:center;
        color:yellow;
    }
    
    .container {
        display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-style: solid;
    background-color: yellow;
    }
    
    input {
        font-size: 3em;
        color: black;
    }
    
    #carousel-example-generic {
         margin: 0 auto;   
         width: 700px;
    }