body {
    text-align: center;
    background-size: cover;
}
h1 {
    font-family: 'Cinzel', serif;
    border-style: solid;
    background-color: Lightgray;
    padding: 5px;
    font-size: 3.0em;
}
form {
    border-style: solid;
    background-color: Lightgray;
    padding: 5px;
}
h2 {
    font-family: 'Cinzel', serif;
    color: black;
    border-style: solid;
    border-color: black;
}
h3 {
    border-style: solid;
    border-color: black;
    background-color: black;
    color: yellow;
}
#profile {
    text-align: center;
}
#characters {
    border-style: solid;
    border-color: black;
    border-width: 5px;
}
#bio {
    font-family: 'Cinzel', serif;
    text-align: center;
    border-style: solid;
    border-color: black;
    background-color: tan;
}
.topic {
    font-family: 'Cinzel', serif;
    color: yellow;
}
footer{
    text-align: center;
    font-size:1em;
    color: yellow;
    background-color:black;
    border-style:solid;
    border-color:black;
    width: 300px;
    margin:0 auto;
    padding-top:10px;
    clear: left;
}