    body {
        background-color: white;
        background-image: url("../img/pokeball.png");
    }
    
    form {
        text-align: center;
    }
    
    input[type=submit] {
    font-size: 20px;
    background-color: gold;
    color:black;
    cursor: pointer;
    }
    
    #chart {
        text-align: center;
    }
    
    #types {
        text-align: center;
        /*border-style: double;*/
        /*border-color: navy;*/
    }
    
    
     #player1, #player2 {
        top:260px;
        text-align: center;
        position: absolute;
        float: left;
    }
    
    #player1 {
        left:420px;
        border-style: solid;
        border-color: navy;
        border-width: 10px;
        
    }
    
    #player2 {
        left:850px;
        border-style: solid;
        border-color: navy;
        border-width: 10px;
    }
    
    
    