body {
    background-color: black;
    color:gray;
}

header, nav, footer {
    text-align: center;
}



nav a {
    padding:15px;
    padding-bottom: 4px;
    font-size: 1.8em;
    text-decoration: none; /* removes underline */
    color: white;          /* by default, links are blue */
}

nav a:hover {  /* pseudo class */
    color: orange; 
    font-size: 2em;
    transition: .9s;  /* transition effect */
}

#me, #welcometext {
    float:left;
}

footer {
    clear:left;
}